/**************** Layout ************/

/* class -> .text-red {} */
/* #id-bilgisi -> .text-red {}  */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}
h1 {
  font-size: 30px;
  color: #202020;
}

p {
  font-size: 20px;
}

#first-article {
  font-size: 40px;
}

.text-red {
  color: red;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}
